.login{
    text-align: center;
    padding:50px;
    background-image:url('../../../public/carlogo.jpg');
    /* background-image:url('../../../public/car-cover5.jpg'); */
    /* background-image:url('../../../public/car-contact1.jpg'); */
    /* background-image: url('../../../public/login_car_pic.jpeg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height:80vh;
    color:white;
   position: relative;
   z-index:2;
 } 
 .login:before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.7);
    /* opacity:1.9; */
    z-index:-1;
 }



 .login-form{
    background-color:rgba(245, 239, 239, 0.2);
    /* background-color:rgb(242, 239, 239); */
    /* opacity: 0.4; */
    position: relative;
    /* z-index:2; */
    z-index:2;
    border-radius:10px;
 }
 .login-form:before{
    /* content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    z-index:-1; */

    /* background-color:rgba(0, 0, 0, 0.7); */
    /* opacity: 0.2; */
 }

 .login-input{
    width:100%;
    padding:10px;
    background-color:transparent;
    border:1px solid rgb(169, 166, 166);
    color:#ddd;
    margin-bottom:20px;
    font-weight:bold;
    border-radius:5px;
}
.login-input:focus{
    border-color:red;
}
.login-input.placeholder{
    font-weight:bold;
    font-size: 30px;
}
.btn__regular{
    width:auto;
    padding:8px 30px;
    background-color:#ece3dd;
    /* color:#fff; */
    color:black;
    font-weight: bold;
    border:0;
    font-size:16px;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn__regular:hover{
    background-color:#ddd;
    color:black;
}


.login-area{
    /* background-color: transparent; */
}

.registered-link{
    color:#fff;
    margin-left:5px;
}











   



