.admin-dashboard{
    background-color: #ecf0f1;
}
.sidebar {
	display: grid;
	grid-template-columns: 20% 75%;
	column-gap: 30px;
    /* position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0; */
}
.side-nav ul li {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 17px;
    cursor: pointer;
    transition: .3s;
    }
    .side-nav ul li span {
        font-size: 28px;
        margin-right: 10px;
        }
    .side-nav ul li:hover {
    color: brown;
    }

    .logo a{
        text-decoration: none;
        color: #333;
        font-size: 38px;
        font-weight: 800;
    }