
.latest-car-area{
    background-color: #FFF;
    padding: 50px 0;
}
.latest-car {
    width: 1170px;
    margin: auto;
  }
 
  .latest-car-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .latest-car-box {
	background-color: #F8F9FA;
	padding: 40px 20px;
}
  
.latest-img img {
    height: 200px;
    position: relative;
  }
  
  .latest-car-title h2 {
    font-size: 20px;
    font-weight: 600;
  }
  
  .latest-car-title p {
    font-weight: 500;
  }
  

  /* Responsive code 
Medium Layout: 1280px.
Checking Size 1000px */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .latest-car {
    width: 950px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .latest-car {
    width: 750px;
  }
}
/* Mobile Layout: 320px. */
/* Checing Point: 400px */
@media only screen and (max-width: 767px) {

.latest-car {
  width: 320px;
}

.section-title {
  width: 300px;
}

.section-title h2 {
  font-size: 26px;
  margin-bottom: 0px;
}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .latest-car {
    width: 450px;
  }
}