.contact-area{
    /* background-image: url('../../../public/about-img-01.png');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2; */
    padding: 50px 0;
    background-color: #F8F9FA;
}
/* .contact-area::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .75;
    z-index: -1;
    background-color: #333;
} */
.contact-container{
    width: 1170px;
    margin: auto;
}
.contact-area .section-title{
    color: #333;
}
.section-title{
    padding-top: 30px;
    padding-bottom: 30px;

}
.contact {
    display: -ms-grid;
    display: grid;
   
        grid-template-columns: repeat(2, 45%);
  
            column-gap: 5%;
  }
  
  .contact .contact-address {
   
    display: grid;
    
        grid-template-columns: repeat(2, 45%);
    
            column-gap: 5%;
  }
  
  .contact .contact-address .single-address {

    display: flex;
    -webkit-box-align: center;
        
            align-items: center;
  }
  
  .contact .contact-address .single-address p {
	background-color: #0a1520;
	border-radius: 10px;
	color: #fff;
	font-size: 34px;
	padding: 0px;
	margin-right: 24px;
	width: 70px;
	height: 70px;
	line-height: 60px;
	padding-left: 15px;
}
  
  .contact .contact-address .single-address h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: #333;
  }
  
  .contact .contact-address .single-address h4 span {
    font-size: 12px;
    display: block;
    font-weight: 400;
    text-transform: lowercase;
  }
  
  .contact .contact-form1 input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }
  
  .contact .contact-form1 textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .contact .contact-form1 input[type="submit"] {
    color: #fff;
    background-color: #0a1520;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 800;
  }
  
  .contact .contact-form1 input[type="submit"]:hover {
    background-color: #e74c3c;
    color: #F8F9FA;
  }
  

/* Responsive code 
Medium Layout: 1280px.
Checking Size 1000px */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .contact-container {
        width: 970px;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-container{
        width: 750px;
    }
.contact .contact-address .single-address p {
    margin-right: 17px;
    width: 60px;
    height: 50px;
    line-height: 40px;
    padding-left: 10px;
  }
  
  .contact .contact-address .single-address h4 {
    font-size: 25px;
    line-height: 20px;
  }
  .single-address {
    margin-bottom: 0;
  }
  
}

/* Mobile Layout: 320px. */
/* Checing Point: 400px */
@media only screen and (max-width: 767px) {
.contact-container {
    width: 320px;
  }  
  .contact {
    grid-template-columns: 100%;
  }
  
  .contact .contact-address .single-address p {
    font-size: 30px;
    margin-right: 19px;
    height: 55px;
    line-height: 44px;
    padding-left: 20px;
  }
  
  .contact .contact-address .single-address h4 {
    font-size: 20px;
    line-height: 18px;
  }
  .contact .contact-address {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
   .contact-container{
    width: 450px;
   }
   .contact .contact-address {
	grid-template-columns: auto;
}
}

/* Tablet Layout: 768px. */
/* Checking Size 800px */
/*
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .form-container{
        width: 750px;
        padding: 30px 25px;     
    }
    .form-container::before{
        width: 140px;
        height: 165px;
        right: 0;
        top: 0px;
    }
    .sub-btn input{ 
        font-size: 20px;
        padding: 15px 30px;
    }
    .sub-btn input:before{
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
    }
}
*/
/* Mobile Layout: 320px. */
/* Checing Point: 400px */
/*
@media only screen and (max-width: 767px) {
    .form-container{
        width: 330px;
        padding: 30px 25px;     
    }
    .form-container h1{
        font-size: 17px;
        text-align: start;
    }
    .form-container::before{
        width: 70px;
        height: 100px;
        right: 0;
        top: 10px;
    }
    .sub-btn input{ 
        font-size: 14px;
        padding: 15px 30px;
    }
    .sub-btn input:before{
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
    }
}
*/
/* Wide Mobile Layout: 480px. */
/*
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .form-container{
        width: 450px;
        padding: 30px 25px;     
    }
    .form-container h1{
        font-size: 20px;
        text-align: start;
    }
    .form-container::before{
        width: 130px;
        height: 160px;
        right: 0;
        top: 0px;
    }
    .sub-btn input{ 
        font-size: 20px;
        padding: 15px 30px;
    }
    .sub-btn input:before{
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
    }
} 
*/
